{% extends "base/__base.html" %}

{% load static %}

{% block title %}
	<title>О нас</title>

{% endblock %}


{% block jumbotron %}
{% endblock %}


{% block content %}

<h3>О нас</h3>

<p class="text-justify">Мы специализируемся на мелкооптовой продаже одноразовой посуды, бытовой химии, пакетов и фасовки для пунктов быстрого питания, кафе и ресторанов, хозяйственных и продуктовых магазинов. </p>
<p class="text-justify">Наши менеджеры всегда помогут Вам с подбором заказа и ответят на все интересующие вопросы по телефонам: +7 (910) 480-81-86, +7(965) 120-61-06</p>
<p class="text-justify">Вы можете сформировать заказ на нашем сайте, а мы перезвоним вам для уточнения деталей.</p>
<div class="container">
  <div class="row">
    <div class="col">
      <img class="img-fluid" src="{% static 'img/warehouse.jpg' %}" alt='Наш склад'>
    </div>
    <div class="col">
      <img class="img-fluid" src="{% static 'img/warehouse1.jpg' %}" alt='Наш склад со стороны улицы'>
    </div>
   </div>
</div>
{% endblock %}