{% extends "base/__base.html" %}

{% block title %}
	<title>Контакты</title>
{% endblock %}


{% block jumbotron %}
{% endblock %}

{% block content %}
<div itemscope itemtype="http://schema.org/Organization">
	<div class="container contacts-page">
	<span itemprop="name" style="display:None">Магазин расходных материалов для вашего бизнеса</span>
		<h3>Контакты</h3>
		
	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<div><strong>Наш адрес:</strong></div>
		<p>
			<span itemprop="streetAddress">улица Кусковская, 12, Перово</span>,
		    <span itemprop="postalCode"></span>
		    <span itemprop="addressLocality">Москва</span>,
		</p>
		
	</div>
	<p>
		<div><strong>Телефон:</strong></div>
		<span itemprop="telephone">+7 910 480-81-86</span>,
	</p>
	<p>
		<div><strong>Электронная почта: </strong></div>
		<span itemprop="email">order@posuda-pls.ru</span>
	</p>
	
		
		<div><strong>Мы работаем:</strong>
			<time
			 itemprop="openingHours"
			 datetime="Mo,Fr 9:00−18:00">пн-пт с 9.00 до 18.00
			</time>
		</div>
		<br>
	</div>
</div>
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aae506805259efbd9ce6b98985dbca683677fc93444058e077100cd9c97dd20af&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>



{% endblock %}