{% extends "base/__base.html" %}

{% block title %}
	<title>Доставка</title>
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}

<h3>Правила доставки</h3>
<p>Доставка товаров в нашем магазине осуществляется в пределах Восточного Административного округа города Москвы.</p>
<p>Стоимость доставки:</p>
<ul>
	<li>от 5 000 руб - БЕСПЛАТНО</li>
	<li>до 5 000 руб - 500 руб</li>
</ul>
<p>После оформления заказа через магазин, наши менеджеры свяжутся с вами для уточнения деталей.</p>

{% endblock %}