<!doctype html>
{% load static %}

<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="{% static 'img/favicon.ico' %}">

		{% block title %}
		<title>Магазин расходных материалов для бизнеса</title>
		{% endblock %}

		{% block css %}
			{% include 'base/_css.html' %}
		{% endblock %}

    {% block metrika %}
      {% include 'base/_metrika.html' %}
    {% endblock %}

    {% block yandexwm %}
    {% endblock %}

	</head>

	<body>
		<div class="container">
			<header class="masthead">
        <div class="container">
          <div class="row align-items-center">
                  <div class="col-12 col-md-4">
              <a style="text-decoration:none" href="/">
                        <img src="{% static 'img/posuda-pls.ru.svg' %}">                
              </a>            
            </div><!-- col-12 col-md-4 -->
            <div class="col-12 col-md-5" style="padding:1em">
                {% include 'base/_form_search.html' %}
            </div>
            <div class="col-12 col-md-3 text-right align-self-end">
              <div class="email">
                <div class='tel h3' style="margin-bottom:0; color:#ff0c00">+7 (910) 480-81-86</div>
                <a href="mailto:#" style="margin-bottom:1em; color:#343b40">rusglomer@mail.ru</a>
                <div style="padding-top:.5em">
                  <span style="margin:0 1em">{% include 'base/_popover_authuser.html' %}</span>
                  <span style="margin:0 1em">{% include 'base/_popover_cart_real.html' %}</span>
                </div>
              </div>             
            </div >             
          </div>
        </div>                                           
      {% block nav_main %}    
				{% include 'base/_nav_main.html' %}        
			{% endblock %}
    	</header>
  		<main role="main">
  			<div class="row row-offcanvas row-offcanvas-left">
          <hr>
            {% block side_bar %}
              {% include 'base/_side_bar.html' %}
            {% endblock %}
          <div class="col-12 col-md-9">
            <p class="float-left d-md-none">
              <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Каталог</button>
            </p>

            {% block jumbotron %}
            <div class="jumbotron d-none d-lg-block my-jumbotron" style="background-image: url({% static 'img/rula-825x248.jpg' %})">
              <h2 class="display-4 text-center">Добро пожаловать</h2>
              <h3 class="display-5 text-center d-none d-lg-block">В НАШ НОВЫЙ МАГАЗИН!</h3>
            </div>
            {% endblock %}

            {% block content %}
            {% endblock %}
          </div><!--/span-->      
        </div><!--/row-->
      </main>	

      <footer>
        <p class='text-muted'>&copy; Rusglomer 2018</p>
      </footer>
    </div><!--/.container-->
	{% block js %}
		{% include 'base/_js.html' %}
	{% endblock %}
    
	</body>
</html>
