<!doctype html>
{% load static %}
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../../../favicon.ico">

		{% block title %}
		<title>Магазин хозяйственных товаров</title>
		{% endblock %}

		{% block css %}
			<!-- Bootstrap core CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

			<!-- Custom styles for this template -->
			<link href="{% static 'css/offcanvas.css' %}" rel="stylesheet">
			<link href="{% static 'css/main.css' %}" rel="stylesheet">
			<!--[if !IE]><!-->
			<!-- Responsive-table do not work for IE -->
			<link href="{% static 'css/responsive_cart.css' %}" rel="stylesheet">
			<!--<![endif]-->
		{% endblock %}

		{% block metrika %}
			{% include 'base/_metrika.html' %}
		{% endblock %}
	</head>

	<body>
		<div class="container">
			<header class="masthead">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-12 col-md-6">
							<h2 class="text-muted">
								<a href="/">Магазин хозяйственных товаров</a>
							</h2>
						</div>
						<div class="col-12 col-md-2">
							<div class='tel'>+7 (910) 480-81-86</div><div class='tel'>+7 (965) 120-61-06</div >
						</div>
						<div class="col-12 col-md-2">
							<div class="email">
								<a href="mailto:#">rusglomer@mail.ru</a>
							</div>             
							<div class="url">
								<a href="#">www.posuda-pls.ru</a>
							</div>
						</div >             

						<div class="cart col-6 col-md-1 text-right">              
							{% include 'base/_popover_authuser.html' %}
						</div>
						<div class="cart col-6 col-md-1 text-center">     
							{% include 'base/_popover_cart_real.html' %} 
						</div>              
					</div>
				</div>      

				{% block nav_main %}
					{% include 'base/_nav_main.html' %}
				{% endblock %}
			</header>

			<main role="main">

				{% block cart %}
				{% endblock %}
				
				{% block content %}
				{% endblock %}
		    </main>	


			<footer>
			<p>&copy; Rusglomer 2018</p>
			</footer>
		</div><!--/.container-->
	{% block js %}
		{% include 'base/_js.html' %}
	{% endblock %}  
	</body>
</html>
