{% load static %}


{% comment %}
<div class="input-group">
      <input class="form-control" type="search" placeholder="Поиск ..." aria-label="Поиск" name="q">
            <span class="input-group-btn">
           <!-- <input type="submit" value="" class='btn btn-default'> -->
           <!-- <input type="image" src="{% static 'img/icons8-26.png' %}" class='btn btn-default'> -->
           <input type="search" results="5" name="q">

            </span>
</div> <!-- input-group --> 


<form action="{% url 'home:search' %}">	
	<div class="search" style="position:relative;">
		<span style= "position: absolute;  top: 7px;  left: 5px;"><img src="{% static 'img/icons8-32.png' %}"></span>

		<input class="form-control" type="search" placeholder="Поиск ..." aria-label="Поиск" name="q" style="text-indent:28px;">
	</div>
</form>
{% endcomment %}
<form action="{% url 'home:search' %}">	
	<div class="input-group" >
		
		<input class="form-control" type="search" placeholder="Поиск ..." aria-label="Поиск" name="q" >
			<span class="input-group-btn">
				<button type="submit"><img src="{% static 'img/icons8-24.png' %}"></button>

			</span>
				
	</div>
</form>