{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark rounded mb-3 sticky-top">
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav text-md-center nav-justified w-100">
    {% url 'home:home' as home %}
      <li class="nav-item {% if home == current_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'home:home' %}">&nbsp; Главная <span class="sr-only">(current)</span></a>
      </li>
    {% url 'home:about' as about %}  
      <li class="nav-item {% if about == current_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'home:about' %}">О нас</a>
      </li>
    {% url 'home:shipping' as shipping %}
      <li class="nav-item {% if shipping == current_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'home:shipping' %}">Доставка</a>
      </li>
    {% url 'home:contacts' as contacts %}
      <li class="nav-item {% if contacts == current_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'home:contacts' %}">Контакты</a>
      </li>
    {% comment %}
    {% if user.is_authenticated %}
    
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{% static 'img/user-24.png' %}">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          <a class="dropdown-item" href="{% url 'accounts:profile' request.user.id %}">Мой профиль</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'accounts:logout' %}">Выход</a>
        </div>
      </li>
    {% else %}
      <li class="nav-item {% if 1 == current_url %}active{% endif %}">
          <a class="nav-link" href="{% url 'accounts:login' %}?next={% if cart|length %}{% url 'cart:CartDetail' %}{% elif current_url %}{{current_url}}{% else %}'/'{% endif %}">Вход</a>
      </li>
    {% endif %}
  {% endcomment %}
    </ul>
    <!-- {% include 'base/_form_search.html' %} -->
  </div>
  
</nav>