{% load static %}
{% if not cart|length %}
  <img src="{% static 'img/cart-26.png' %}">

{% elif current_url == '/cart/' or current_url == '/orders/create/'%}

<img src="{% static 'img/cart-26.png' %}"><small><span class="align-top cart-length">{{cart|length}}</span></small>



{% else %}
  <a tabindex="0" data-toggle="popover" data-container="body" data-placement="top"  data-html="true" href="#" id="cart" data-trigger="click hover"><img src="{% static 'img/cart-26.png' %}"><small><span class="align-top cart-length">{{cart|length}}</span></small></a>
{% endif %}

<div id="popover-content-cart" style="display: none">
  {% include 'base/_cart_table_without_forms.html' %}
</div>