{% load static %}


{% for product in products %}

	<div class="col-6 col-lg-2 col-product">
		<div class="card my-card" >
			<a class="a-my-card" href="{{ product.get_absolute_url }}">
				
				{% if product.image %}
					
						<img class="img-fluid img-hover" src="{{ product.image.url }}" alt="{{ product.name }}">
					
				{% else %}
					
					<div class='no-product-img'>&nbsp;</div>
					
				{% endif %}
			</a>
			<div class="card-body my-product-card">
				<p class="card-title text-dark text-right product-card-title">{{ product.name }}</p>
				{% if product.packaging %}<p class="card-text text-right product-card-title ">{{ product.packaging }}</p>{% endif %}
				 <p class="card-text text-right product-card-title"><b>{{ product.price|floatformat:"-2" }} руб.</b>
				 {% if product.typeprice%}  {{ product.typeprice }} </p>{% endif %}
				<form class = "float-right" action="{% url 'cart:CartAdd' product.id %}" method="post">
					<div class="input-group">
						{{ cart_product_form }}
						{% csrf_token %}
						<input type="submit" class="btn btn-primary btn-sm my-btn-card" value="В корзину">
					</div>
				</form>			
			</div>
		</div>
	</div>
{% endfor %}
