{% extends "base/__single_base.html" %}
{% load bootstrap %}

	{% block title %}
		<title>Оформление заказа</title>
	{% endblock %}

{% block cart %}
{% endblock %}

{% block content %}

<div class="row">

	<div class="col-md-6 col-sm-12">
		<h3>Корзина:</h3>
		<br>
		{% include 'base/_cart_table_without_forms.html' %}		
	</div>

	<div class="col-md-6 col-sm-12">
		<form action="" method="post">
		{{form.errors}}
			<h3>Получатель:</h3><hr>
			<div class="alert alert-dark" role="alert">
			  {{ request.user }}
			</div>
				
				{{ form.full_name|bootstrap }}
				{{ form.phone|bootstrap }}
			<br>
			
			<h3>Доставка:</h3><hr>	
				{{ form.shipping|bootstrap }}
				{{ form.address|bootstrap }}
				{% csrf_token %}
              <input class="btn btn-primary btn-sm" type="submit" value="Подтвердить заказ">				
		</form>
	</div>

</div>

{% endblock %}