body{
	padding-top: 20px;
}

div.my-jumbotron{
  color: #f7f0af;
  text-shadow: 1px 1px 2px #000, 0 0 1em #0a949a; /* Параметры тени */
}

div.my-jumbotron h5{
  color: #00fbff;

}

/*формы оформления заказа*/
div.my-form{
  max-width: 400px;
  margin: 2em auto;
}
/* /формы оформления заказа*/

/* cart */
div.my-card:hover{
    border: 1px solid rgba(0, 0, 0, 0.4);
    
}

/* /cart */


/*bread-crambs*/
.bread-crambs{
  font-size: .85em;
  font-weight: 600;
}
/* /bread-crambs*/

/* PRODUCT CARD */



p.card-title.text-dark.text-right.product-card-title{
  font-size: .9em;
  font-weight: 600;
}

div.card.my-card {
  height: 350px;

}

div.my-product-card{
  position: absolute;
  bottom: 0;
  right: 0;

}

div.no-product-img{
  max-width:100%; 
  padding: 5.5em 0; 
  background-image: url('/static/img/background28.jpg');
  color: #fff;
}
.col-product{
    padding-bottom: 15px;
    
}
  img.product-card-img-top{
  padding-top: 1.25rem;
}

a.a-my-card:hover{
  text-decoration: none;
}



@media (max-width: 768px) {

  div.card.my-card {
    height: 250px;
  }

  .card-body.my-product-card {
    padding: .5rem 0.5rem;
  }

  p.product-card-title{
    margin-bottom: 0;
  }

  div.no-product-img{
  
    padding: 3em 0; 
  }

  .col-product{
    padding-right: 7px;
    padding-left: 7px;
  }

  .col-product{
    padding-bottom: 7px;
    
  }
}

/*for 6 col in row (from midle screen)*/
.col-6.col-lg-2.col-product {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.card-body.my-product-card {
    padding: 5px 4px 7px 4px;
    font-size: .85em;
}

input.btn.btn-primary.btn-sm.my-btn-card {
    padding: .25rem;
}
div.card.my-card {
    height: 260px;
}
div.no-product-img {
    
    padding: 3.2em 0;
}
p.product-card-title{
    margin-bottom: .3rem;
  }
/*for 6 col in row (from midle screen)*/

/* /PRODUCT CARD */

/*POPOVER CART*/
label[for=id_quantity]{
	margin: 4px;
	font-weight: 700;
}

div.popover{
	max-width: 400px
}

div.div-for-no-img-camera-shop{
  width: 8rem;
  padding-top:20px;

}
div.div-for-no-img-camera-shop i{
  font-size: 8rem;
  color: #c7c7c7;
}

div.div-for-no-img-camera-cart{
  width: 3rem;
  

}
div.div-for-no-img-camera-cart i{
  font-size: 3rem;
  color: #c7c7c7;
}
div.no-product-img-cart{
  /*background-image: url('/static/img/background28.jpg');*/
  padding: 1em 0;
  width: 200px;
}


a.a-cart:hover{
  text-decoration: none;
}
/* /POPOVER CART*/

/* GRAND CART*/
td.cart-product-img {
    width: 15%;
  }
/* /GRAND CART*/

/*SIDE MENU*/
#sidebar .list-group-item.list-group-item-action:hover{
	background-color: #154b98;
    border-color:  #3b78ce;
    color: #fff;
}

#sidebar .list-group-item {
    border-radius: .15em;
    background-color: #3b78ce;
    color: #ccddf7;
    border-color: #578bd5;
    /*white-space: nowrap;*/
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #154b98;
    border-color:  #3b78ce;
}

/* closed state */
#sidebar .list-group .list-group-item.not-leaf-node[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item.not-leaf-node[aria-expanded="true"] {
  background-color: #154b98;

}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

div.my-catalog{
  font-size: 0.75em;
  font-weight: 750;
}


@media (max-width:48em) {
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
        position: absolute;
        z-index: 1;
        width: 190px;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

/* change transition animation to width when entire sidebar is toggled */
#sidebar.collapse {
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

#sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: width;
       -o-transition-property: width;
          transition-property: width;

}
/* /SIDE MENU*/

/* FORM VALIDATION ERROR TEXT COLOR*/
.form-group.has-error span.help-block{
  color: red;
}
/* /FORM VALIDATION ERROR TEXT COLOR*/