{% extends "base/__single_base.html" %}

{% block content %}
<div class="row justify-content-md-center">
	<div class="col-sm-12 col-md-8">
		<div class="text-center"><small><strong>Согласие на обработку персональных данных клиентов - физических лиц. </strong></small></div>

		<div><small>Пользователь, оставляя заявку на интернет-сайтах: </small></div>

		<a href="http://posuda-pls.ru/"><small>http://posuda-pls.ru/ </small></a><br>

		<a href="http://www.posuda-pls.ru/"><small>http://www.posuda-pls.ru/ </small></a>

		<div><small>принимает настоящее Согласие на обработку персональных данных (далее – Согласие).</small></div> 

		<div><small>Действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность, Пользователь дает свое согласие на обработку своих персональных данных со следующими условиями: </small></div>

		<div><small>Данное Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их использованием.</small></div>
		<div><small>Согласие дается на обработку следующих моих персональных данных:</small></div>
		<div><small>Персональные данные, не являющиеся специальными или биометрическими: номера контактных телефонов; адреса электронной почты; место работы и занимаемая должность; пользовательские данные (сведения о местоположении; тип и версия ОС; тип и версия Браузера; тип устройства и разрешение его экрана; источник откуда пришел на сайт пользователь; с какого сайта или по какой рекламе; язык ОС и Браузера; какие страницы открывает и на какие кнопки нажимает пользователь; ip-адрес.</small></div>
		<div><small>Персональные данные не являются общедоступными.</small></div>
		<div><small>Цель обработки персональных данных: обработка входящих запросов физических лиц с целью оказания консультирования; аналитики действий физического лица на веб-сайте и функционирования веб-сайта; проведение рекламных и новостных рассылок.</small></div>
		<div><small>Основанием для обработки персональных данных является: ст. 24 Конституции Российской Федерации; ст.6 Федерального закона №152-ФЗ «О персональных данных»; Устав ООО "Б152"; настоящее согласие на обработку персональных данных.
		В ходе обработки с персональными данными будут совершены следующие действия: сбор; запись; систематизация; накопление; хранение; уточнение (обновление, изменение); извлечение; использование; передача (распространение, предоставление, доступ); блокирование; удаление; уничтожение.</small></div>
		<div><small>Персональные данные обрабатываются до отписки физического лица от рекламных и новостных рассылок. Также обработка персональных данных может быть прекращена по запросу субъекта персональных данных. Хранение персональных данных, зафиксированных на бумажных носителях осуществляется согласно Федеральному закону №125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно правовым актам в области архивного дела и архивного хранения.
		Согласие может быть отозвано субъектом персональных данных или его представителем путем направления письменного заявления или его представителю по адресу.</small></div>
		<div><small>В случае отзыва субъектом персональных данных или его представителем согласия на обработку персональных данных вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ «О персональных данных» от 27.07.2006 г.</small></div>
		<div><small>Настоящее согласие действует все время до момента прекращения обработки персональных данных, указанных в п.7 и п.8 данного Согласия.</small></div>
	</div>
	
</div>


{% endblock %}