{% extends "base/__base.html" %}

{% load mptt_tags %}
{% load myfilters %}

{% block title %}
	<title>Купить {{ category.name }} в Москве</title>
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}

	{% include 'base/_breadcrambs.html' %}


<div class="row grid-prodacts-view products-view products-view-1">
	{% include 'base/_product_cards.html' %}
</div>	


<table class="table list-products-view products-view products-view-2" style="display:none">
	{% include 'base/_product_table.html' %}
</table>

<div class='pagination p-2'>

	{% include 'base/_pagination.html' %}
</div>

{% endblock %}