{% extends "base/__base.html" %}

{% load mptt_tags %}

{% block title %}
	<title>Купить {{ product.name }} в Москве</title>
{% endblock %}

{% block jumbotron %}
{% endblock %}


{% block content %}
<!-- BREADCRAMBS -->
	<div class="row">
	<div class="col-12 bread-crambs">
    {% for parent in category.get_ancestors %}
        <span><a href="/catalog/{{ parent.slug }}/">{{ parent.name|upper }}</a> / </span>
        
    {% endfor %}
    <span> <a href="/catalog/{{ category.slug }}/">{{ category.name|upper }}</a> / </span>
    
    {{ product.name }}
	</div>
</div>
<br>
<!-- /BREADCRAMBS -->
<div itemscope itemtype="http://schema.org/Product">
	<div class="row align-items-center">	
		<div class="col-6 col-lg-6">
		
			{% if product.image %}
	
				<img itemprop="image" style ="width:100%; padding:0 1em;" class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
			{% else %}

				<div class="mx-auto text-center no-product-img-cart ">нет фото</div>
				
			{% endif %}
			
		
		</div><!--/span-->

	<div class="col-6 col-lg-6">		
			<div class="card-body">
				<h5 itemprop="name" class="card-title text-right">{{ product.name }}</h5>
				<span itemprop="description" style="display:none">{{ product.name }}</span>
				{% if product.packaging %}<p class="card-text text-right">{{ product.packaging }}</p>{% endif %}
				{% if product.manufacture %}<p class="card-text text-right">Изготовитель: {{ product.manufacture }}</p>{% endif %}
				<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
					<p class="card-text text-right"><span itemprop="price">{{ product.price }} </span><span itemprop="priceCurrency">RUB</span>{% if product.typeprice %} (за {{ product.typeprice }}){% endif %}</p>
				</div>
							
				{% if product.in_stock %}
				<p class="text-muted text-right in-stock">в наличии</p>
				<div class="float-right">
					<form action="{% url "cart:CartAdd" product.id %}" method="post" class=" float-left">
						<div class="input-group">
							{{ cart_product_form }}
							{% csrf_token %}
							<input type="submit" class="btn btn-primary btn-sm" value="В корзину">
						</div>
					</form>
				</div>				
				{% else %}<p class="text-muted text-right in-stock">нет в наличии</p>
				{% endif %}
			</div>
		
	</div><!--/span-->
	</div>



</div><!--/row-->
{% endblock %}